.App {
	text-align: center;
}

.user-bills {
	margin-top: 20px;
	font-size: large;
	font-weight: 300;
}

.user-dashboard {
	display: inline-block;
}

.user-functions {
	margin-top: 20px;
	padding: 10px;
	display: inline;
}

.user-functions button {
	margin: 20px;
}

.user-profile {
	margin-top: 20px;
	padding: 10px;
	font-weight: 300;
	font-size: x-large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
