body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.color-nav{
  background-color: #f79604;
  font-family: 'Lobster', cursive;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: xx-large;
  padding: 10px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}